
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

:root {
  --transition: all 500ms ease;
  --bg-color: #fdf5df;
  --primary-color: #5ebec4;
  --color-black: black;
  --primary-color-variant: #f92c85;
  --container-width-lg : 75%;
  --container-width-md: 90%;
  --secondary-color: #ffd9f2;
  --offset-color: #dfcd9b;

}

.text-black {
  color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 2.0;
  font-size: 0.9rem;
  color: var(--color-black);
  background: var(--bg-color);
  
}

h1,h2,h3,h4,h5 {
  font-weight : 500;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  max-width: 1920px;
}

a {
  transition: var(--transition);
  color: var(--primary-color-variant);
}

a:hover {
  color: #FF7F50;
}

.btn {
  width: fit-content;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-black);
  border: 2px solid transparent;
  border-radius: 0.6rem;
  background: var(--primary-color-variant);
  padding: 0.6rem 2.5rem;
  transition: var(--transition);
}

.btn:hover{
  background-color: transparent;
  border-color: var(--color-black);
  transform: translateY(-0.5rem);
}

.btn.white {
  background: var(--secondary-color);
}

.btn.white:hover{
  background: transparent;
  border-color: var(--secondary-color);
}

img {
  display:block;
  width: 100%;
  object-fit: cover;
}

section {
  margin-top: 10rem;
}

section > h2, 
section > h5 {
  text-align: center;
} 

section > h2{
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px){
  .container {
    width: 86%;
  }

  .section {
    margin-top:6rem;
  }
}

@media screen and (max-width: 600px){
  .container {
    width: 90%;
  }

  .section > h2 {
    margin-bottom: 2rem;
  }
}
